body {
    background-color: palevioletred;
    color: black;
    resize: both;
    overflow: scroll;
    font-family: "Lucidia Console", monospace;
}

h1 {
    font-size: 64px;
    color: palevioletred;
}

p {
    font-size: 24px;
}

.container {
    display:flex
}
header {
    height: 90px;
    background-color: peachpuff;
    text-align: center;
}


.post-text {
    margin: 50px;
    padding: 50px;
    text-align: center;
    float: right;
    clear: both;
    padding: 50px;
    background-color: peachpuff;
}

.post-image {
    margin: 50px;
    position: absolute;
    text-align: left;
    float: left;
    clear: both;

    outline-style: groove;
    outline-color: purple;
    outline-width: 10px;
}

#main-smoothie-image {
    width: 400px;
}
