body {
    background-color: palevioletred;
    color: black;
    resize: both;
    overflow: scroll;
    font-family: "Lucidia Console", monospace;
}

h1 {
    font-size: 64px;
    color: palevioletred;
}

h2 {
    font-size: 40px;
    color: palevioletred;
}

h3 {
    font-size: 20px;
    color: palevioletred;
}

p {
    font-size: 18px;
}

.container {
    display:flex
}
header {
    height: 90px;
    background-color: peachpuff;
    text-align: center;
}

.flex-container {
    display: flex;

    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    margin: 0 auto;
    padding: 40px;
    background-color: peachpuff;
}

.post {
    max-width: 45%;
    background-color: peachpuff;
    margin-left: 20px;
    float: right;
}

#post-text {
    float: right;
    clear: both;
    text-align: left;
    margin: 0 auto;
}

#main-smoothie-image {
    max-width: 100%;
    height: auto;
    outline-style: groove;
    outline-color:  rgb(192, 53, 99);
    outline-width: 10px;
    float: left;
}

#pfp {
    width: 32px;
    height: 32px;
}

#list {
    text-align: left;
}

.stars {
    border: none;
    background-color: white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.optionshite {
    border: none;
    background-color: palevioletred;
    color: peachpuff;
    font-size: 20px;
}

.optionshite:hover {
    background-color: rgb(192, 53, 99);
}

.username-text {
    vertical-align: middle;
}

#title-text {
    margin: 0px;
}

#image-holder {
    max-width: 50%;
    height: auto;
}

#separator {
    width: 5%;
    height: auto;
}
