body {
    background-color: palevioletred;
    color: black;
    resize: both;
    overflow: scroll;
    font-family: "Lucidia Console", monospace;
}

h1 {
    font-size: 64px;
    color: palevioletred;
}

h2 {
    font-size: 40px;
    color: palevioletred;
}

h3 {
    font-size: 32px;
    color: palevioletred;
}

p {
    font-size: 18px;
}

.container {
    display:flex
}
header {
    height: 90px;
    background-color: peachpuff;
    text-align: center;
}

.flex-container {
    display: flex;

    position: absolute;
    top: 15%;
    left: 20%;
    right: 20%;
    margin: 0 auto;
    padding: 50px;
    background-color: peachpuff;
}

.post {
    width: 100%;
    background-color: peachpuff;
    margin: 20px;
    padding: 50px;
    float: right;
}

#post-text {
    float: right;
    clear: both;
    text-align: left;
    margin: 0 auto;
}

#main-smoothie-image {
    width: 400px;
    outline-style: groove;
    outline-color: purple;
    outline-width: 10px;
}

#pfp {
    width: 32px;
    height: 32px;
}

#list {
    text-align: left;
}

.stars {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 16px;
    height: 16px;
}